{% extends 'codes/base.html' %}
{% block content %}
    <div class="container">
        <div class="jumbotron">
            <h1>Survey | View Drawings</h1>
        </div>

        {% if success_added == 1 %}
            <div class="alert alert-success alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>Success!</strong> The drawing has been added successfully!
            </div>
        {% endif %}

        <table class="table table-hover">
            <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Description
                </th>
                <th>
                    File
                </th>
            </tr>
            </thead>

            <tbody>
            {% for d in data %}
                <tr>
                    <th>
                        <p class="lead">{{ d.name }}</p>
                    </th>
                    <th>
                        <p class="lead">{{ d.description }}</p>
                    </th>
                    <th>
                        <p class="lead"><a href="{{ d.file.url }}">{{ d.file }}</a></p>
                    </th>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}