{% extends "codes/base.html" %}
{% load bootstrap3 %}
{% block content %}
    <div class="container">
        <div class="jumbotron"><h1>{{ title }}</h1></div>

        <div class="row">
            <div class="col-md-4">
                <form method="post" autocomplete="off" class="form" {% if edited == 1 %} action="/codes/{{ code_id }}/edit/{{ id }}"
                {% else %} action="/codes/{{ code_id }}/add" {% endif %}>
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    {% buttons %}
                        <button type="submit" class="btn btn-primary">
                            {% if edited == 1 %} {% bootstrap_icon "plus" %} Update {{ title }}
                            {% else %} {% bootstrap_icon "plus" %} Add {{ title }} {% endif %}
                        </button>
                    {% endbuttons %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}